* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", "sans-serif";
}

:root {
  --letter-color-primary: #ddd;
  --color-primary: #fa0;
  --color-secondary: #e0f;
  --back-color-primary: #0a1a24;
  --back-color-secondary: #04141f;

  --filter-primary: invert(100%) sepia(0%) saturate(7370%) hue-rotate(305deg)
    brightness(97%) contrast(78%);
  --filter-warn: invert(99%) sepia(72%) saturate(5489%) hue-rotate(359deg)
    brightness(86%) contrast(102%);
  --filter-checked: invert(74%) sepia(25%) saturate(6316%) hue-rotate(92deg)
    brightness(94%) contrast(105%);
  --filter-error: invert(14%) sepia(73%) saturate(5448%) hue-rotate(357deg)
    brightness(71%) contrast(116%);
}

.group {
  padding: 40px 10px;
  margin: 30px auto;
  display: block;
  background-color: var(--back-color-primary);
  width: fit-content;
}

// p{
//     max-width: 200px;
// }

///aqui comienza
body {
  background-color: var(--back-color-primary);
  transition: color 0.3s;
  color: var(--color-primary);

  &:hover {
    color: var(--back-color-primary);
  }

  &::-webkit-scrollbar {
    background: #ddd3;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--color-primary);
    border-right: none;
    box-shadow: inset 0 0 0 20px;
    border-radius: 50px;
  }
}

h1 {
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  color: var(--letter-color-primary);
  font-weight: 800;
  font-size: 30pt;
  border: 2px solid var(--color-primary);
  border-radius: 15px;
  // max-width: 200px;
}

h2 {
  color: var(--letter-color-primary);
  font-weight: 500;
  font-size: 24pt;
}

p {
  color: var(--letter-color-primary);
  font-size: 19pt;
  font-weight: 300;
  line-height: 25pt;

  // &::first-letter{
  //     color: var(--color-primary);
  //     font-size: 20pt;
  // }
}

//aqui estan los diferentes inpues de texto el grupo de validacion cuenta con tres clases para cambiar la apariencia respecto a la validacion(error,check,warn)
.groupInput {
  caret-color: #0d0;
  position: relative;
  input[type="text"] {
    color: var(--letter-color-primary);
    background: var(--back-color-primary);
    border: 2px solid var(--color-primary);
    font-size: 16pt;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 10px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px var(--color-primary);
    }
    &::placeholder {
      opacity: 1;
      transition: 0.3s;
    }
    &:focus::placeholder {
      opacity: 0;
    }

    &:focus + label {
      display: inline;
      padding: 0 10px;
      color: var(--color-primary);
      font-size: 10pt;
      font-weight: 300;
      background: var(--back-color-primary);
      position: absolute;
      top: -5px;
      left: 15px;
    }

    &:disabled {
      border: 2px solid #aaa;
      opacity: 0.5;
      cursor: not-allowed;

      & + label {
        display: inline;
        padding: 0 10px;
        color: var(--letter-color-primary);
        font-size: 10pt;
        font-weight: 300;
        background: var(--back-color-primary);
        position: absolute;
        top: -5px;
        left: 15px;
      }

      &::placeholder {
        opacity: 0;
      }
    }
  }

  label {
    padding-left: 20px;
    color: #fa00;
    font-size: 16pt;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.3s;
  }
}

.groupInputSearch {
  position: relative;
  width: fit-content;

  input[type="text"] {
    caret-color: #0d0;
    color: var(--letter-color-primary);
    background: var(--back-color-primary);
    border: 1px solid var(--letter-color-primary);
    max-width: 400px;
    font-size: 16pt;
    font-weight: 300;
    padding: 10px 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px var(--color-primary);
    }

    &::placeholder {
      opacity: 1;
      transition: 0.3s;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &:focus + label {
      display: inline;
      padding: 0 10px;
      color: var(--color-primary);
      font-size: 10pt;
      font-weight: 300;
      background: var(--back-color-primary);
      position: absolute;
      top: unset;
      bottom: -5px;
      left: 15px;
    }

    &:disabled {
      border: 2px solid #aaa;
      cursor: not-allowed;
    }

    &:disabled + label {
      cursor: not-allowed;
    }
  }

  label {
    padding-left: 20px;
    color: #fa00;
    font-size: 16pt;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.3s;
  }
  img {
    content: url("../../images/search.svg");
    filter: var(--filter-primary);
    opacity: 0.3;
    width: 25px;
    position: absolute;
    right: 11px;
    top: 11px;

    &:hover {
      opacity: 1;
    }
  }
}
.groupInputValid {
  position: relative;
  padding-bottom: 50px;
  width: fit-content;

  input[type="text"] {
    caret-color: #0d0;
    color: var(--letter-color-primary);
    background: var(--back-color-primary);
    border: 2px solid var(--color-primary);
    font-size: 16pt;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 10px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px var(--color-primary);
    }

    &::placeholder {
      opacity: 1;
      transition: 0.3s;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &:focus + .name {
      display: inline;
      padding: 0 10px;
      color: var(--color-primary);
      font-size: 10pt;
      font-weight: 300;
      background: var(--back-color-primary);
      position: absolute;
      top: -5px;
      left: 15px;
    }

    &:disabled {
      border: 2px solid #aaa;
      cursor: not-allowed;
    }

    &:disabled + .name {
      cursor: not-allowed;
    }
  }

  .name {
    padding-left: 20px;
    color: #fa00;
    font-size: 16pt;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.3s;
  }

  .message {
    opacity: 0;
    position: absolute;
    width: fit-content;
    bottom: 25px;
    left: 5px;
    padding: 1px 4px;
  }

  .icon {
    position: absolute;
    opacity: 0;
  }
}

.groupInputValid_checked {
  .message {
    opacity: 1;
    color: #0d0;
    border: 1px solid #0d0;
  }

  .icon {
    opacity: 1;
    content: url("../../images/checked.svg");
    width: 30px;
    filter: var(--filter-checked);
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.groupInputValid_warn {
  .message {
    opacity: 1;
    color: #ff0;
    border: 1px solid #ff0;
  }

  .icon {
    opacity: 1;
    content: url("../../images/alert.svg");
    width: 30px;
    filter: var(--filter-warn);
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.groupInputValid_error {
  .message {
    opacity: 1;
    color: #d00;
    border: 1px solid #d00;
  }

  .icon {
    opacity: 1;
    content: url("../../images/error.svg");
    width: 30px;
    filter: var(--filter-error);
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.groupTextarea {
  position: relative;

  textarea {
    caret-color: #0d0;
    background: var(--back-color-primary);
    border: 1px solid var(--color-primary);
    transition: 0.3s;
    color: var(--letter-color-primary);
    font-size: 14pt;
    font-weight: 300;
    cursor: default;
    padding: 5px;
    resize: none;
    opacity: 0.5;

    &:hover {
      box-shadow: 0 0 6px var(--color-primary);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 16px var(--color-primary);
      padding: 15px;
      cursor: text;
      opacity: 1;
    }

    &::-webkit-scrollbar {
      background: #ddd3;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      color: var(--back-color-primary);
      border: 1px solid var(--color-primary);
      border-right: none;
      box-shadow: inset 0 0 0 20px;
      border-radius: 50px;
    }
  }

  .name {
    color: var(--color-primary);
    position: absolute;
    top: -10px;
    left: 1px;
    background-color: var(--back-color-primary);
  }
}

//aqui estan los diferentes botones que se peuden añadir
button {
  margin: 5px 0;
  background: var(--color-primary);
  color: var(--back-color-primary);
  font-size: 16pt;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  transition: 0.3s;

  &:hover {
    color: var(--color-primary);
    background: var(--back-color-primary);
    outline: 2px solid var(--color-primary);
  }
}
.buttonOptinal {
  background: var(--back-color-primary);
  color: var(--letter-color-primary);
  outline: 2px solid var(--letter-color-primary);

  &:hover {
    color: var(--color-primary);
    background: var(--back-color-primary);
    outline: 2px solid var(--color-primary);
  }
}

.buttonNav {
  background: var(--back-color-primary);
  color: var(--letter-color-primary);
  border-radius: 0px;

  &:hover {
    outline: none;
    border-left: 3px solid var(--letter-color-primary);
    border-right: 3px solid var(--letter-color-primary);
    background: var(--back-color-primary);
    letter-spacing: 1px;
  }
}

//aqui estan los selectores
.groupCheckbox {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 25px;
    height: 25px;
    opacity: 0;
  }
  input:hover + span {
    border: 2px solid var(--color-primary);
  }
  input:checked + span {
    border: 2px solid var(--color-primary);
  }
  input:checked + span::after {
    opacity: 1;
  }
  input:checked + span + p {
    color: var(--color-primary);
  }
  span {
    //pointer-events: none;
    border: 2px solid var(--letter-color-primary);
    background: var(--back-color-primary);
    position: relative;
    top: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }
  span::after {
    color: var(--back-color-primary);
    content: "✔";
    text-align: center;
    font-size: 9pt;
    font-weight: 800;
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--color-primary);

    top: 3px;
    left: 3px;
    opacity: 0;
    transition: 0.3s;
  }
  p {
    display: inline-block;
    padding: 5px;
  }
}

.groupRadio {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 25px;
    height: 25px;
    opacity: 0;
  }

  input:hover + span {
    border: 2px solid var(--color-primary);
  }

  input:checked + span {
    border: 2px solid var(--color-primary);
  }

  input:checked + span::after {
    opacity: 1;
    font-size: 9pt;
  }

  input:checked + span + p {
    color: var(--color-primary);
  }

  span {
    //pointer-events: none;
    border: 2px solid var(--letter-color-primary);
    background: var(--back-color-primary);
    position: relative;
    top: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  span::after {
    color: var(--color-primary);
    content: "✔";
    text-align: center;
    font-size: 1pt;
    font-weight: 800;
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--back-color-primary);

    top: 3px;
    left: 3px;
    opacity: 0;
    transition: 0.3s;
  }

  p {
    display: inline-block;
    padding: 5px;
  }
}

select {
  padding: 3px 15px;
  background: var(--back-color-primary);
  color: var(--letter-color-primary);
  font-size: 16pt;
  font-weight: 300;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid var(--color-primary);
  transition: 0.3s;

  &:focus {
    border: 2px solid var(--letter-color-primary);
    outline: none;
    box-shadow: 0 0 10px var(--color-primary);
  }
}

b {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  background-color: var(--color-primary);
  font-weight: 500;
  &:hover {
    box-shadow: 0 0 15px var(--color-primary);
  }
  &:link {
    color: var(--back-color-primary);
  }
  &:visited {
    color: var(--back-color-primary);
  }
}

.containerImages {
  width: 280px;
  height: 180px;
  position: relative;
  opacity: 0.9;

  .firstImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  .secondImage {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    border-radius: 30px;

    &:hover {
      object-position: 400px;
      border: 2px solid var(--color-primary);
    }
  }
}

.containerGalery {
  position: relative;
  padding: 10px;
  transition: 0.8s;

  &:hover #containerImages img {
    border-radius: 0;
    object-position: center;
  }

  #containerImages {
    position: relative;
    width: 1000px;
    height: 400px;
    background: var(--back-color-primary);

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      object-position: top;
      transition: 1s;
      border-radius: 60px;
    }
    & .imageIn {
      opacity: 1;
    }
    & .imageOff {
      opacity: 0;
    }
  }

  #containerButtons {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 5%;

    .buttonOn {
      margin: 0 10px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: var(--color-primary);
      border-radius: 50%;

      &:hover {
        box-shadow: 0 0 20px var(--back-color-primary);
      }
    }
    .buttonOff {
      margin: 0 10px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: var(--back-color-primary);
      border-radius: 50%;
    }
  }
}

.groupXbox {
  img {
    display: inline-block;
    width: 20px;
    height: 20px;
    content: url("../../images/xbox.svg");
    filter: invert(60%) sepia(27%) saturate(6729%) hue-rotate(81deg)
      brightness(119%) contrast(122%);
  }

  p {
    display: inline-block;
    color: #cfc;
    display: inline-block;
  }
}

.groupPlay {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/playstation.svg");
    filter: invert(31%) sepia(69%) saturate(4886%) hue-rotate(204deg)
      brightness(106%) contrast(103%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;

    color: #ccf;
    display: inline-block;
  }
}

.groupNintendo {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/nintendo.svg");
    filter: invert(85%) sepia(14%) saturate(1242%) hue-rotate(307deg)
      brightness(106%) contrast(104%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;

    color: #fcc;
    display: inline-block;
  }
}
.groupAtari {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/atari.svg");
    filter: invert(98%) sepia(93%) saturate(5329%) hue-rotate(306deg)
      brightness(107%) contrast(103%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;

    color: #fc7;
    display: inline-block;
  }
}
.groupAndroid {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/android.svg");
    filter: invert(75%) sepia(68%) saturate(385%) hue-rotate(63deg)
      brightness(104%) contrast(101%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;

    color: #ffc;
    display: inline-block;
  }
}

.groupPC {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/mouse.svg");
    filter: invert(72%) sepia(75%) saturate(1%) hue-rotate(41deg)
      brightness(93%) contrast(83%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;
    color: #bbb;
    display: inline-block;
  }
}

.groupConsole {
  img {
    display: inline-block;
    width: 25px;
    height: 30px;
    content: url("../../images/gamepad.svg");
    filter: invert(87%) sepia(99%) saturate(3018%) hue-rotate(202deg)
      brightness(104%) contrast(106%);
    margin-bottom: -7px;
  }

  p {
    display: inline-block;
    margin-left: 5px;
    font-weight: 200;
    color: #fcf;
  }
}

.starFill {
  content: url("../../images/star-fill.svg");
  filter: invert(70%) sepia(15%) saturate(5630%) hue-rotate(359deg)
    brightness(102%) contrast(106%);
  width: 38px;
  height: 38px;
}
.starUnfill {
  content: url("../../images/start-unfill.svg");
  filter: invert(70%) sepia(15%) saturate(5630%) hue-rotate(359deg)
    brightness(102%) contrast(106%);
  width: 38px;
  height: 38px;
}

.genre {
  color: var(--back-color-primary);
  font-weight: 600;
  padding: 1px;
  border-radius: 6px;
  display: inline-block;
  background-color: #bbb;
  transition: 0.5s;
}
