.Home{
    .Header{
        padding: 40px 0;
        display: block;
        width: fit-content;
        margin: 0 auto;
        border-bottom: 1px solid var(--letter-color-primary);
        
        h1{
            display: block;
            margin: 0 auto;
        }
        p{
            margin: 10px;

            &::first-letter {
                color: var(--color-primary);
                font-size: 20pt;
            }
        }
    }
}