.Paginado {
  display: flex;
  justify-content: space-between;
  margin: 20px 6vw 0 6vw;
  background-color: var(--back-color-secondary);
  padding: 5px;
  border-radius: 5px;

  button,
  p {
    font-size: 13pt;
  }
}
